
@font-face {
  font-family: 'Source Sans Pro';
  src: url(../font/light.otf);
  font-weight: 300;
  font-display: block;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url(../font/regular.otf);
  font-weight: 400;
  font-display: block;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url(../font/semibold.otf);
  font-weight: 600;
  font-display: block;
}