
@font-face {
  font-family: 'Source Sans Pro';
  src: url(../font/regular.ttf);
  font-weight: 300;
  font-display: block;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url(../font/semibold.ttf);
  font-weight: 400;
  font-display: block;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url(../font/bold.ttf);
  font-weight: 600;
  font-display: block;
}