.footer {
  width: 100%;
  margin-top: auto;
  background-color: #fff;
  text-align: center;
  font-size: 13px;
  color: #9E9E9E;
  padding: 20px 10px;
  border-top: 1px solid #e8e8e8;
  box-sizing: border-box;
}